{% extends "base.html" %}

{% block titulo %}  Lista Ordenes  {% endblock %}

{% block contenido  %}  

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearorden' %}" role="button">Agregar Nueva Orden</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Ordenes</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Nro. Orden</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Salida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.Nro_orden }}</td>
                    <td>{{ orden.fecha_ingreso }}</td>
                    <td>{{ orden.fecha_salida }}</td>
                    <td>  
                        <a name="" id="" class="btn btn-info" href="{% url 'editarorden' orden.Nro_orden %}" role="button">Editar</a>   
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminarorden' orden.Nro_orden %}" role="button">Borrar</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>



{% endblock %}

    
