{% extends "base.html" %}

{% block titulo %}  Lista Clientes  {% endblock %}

{% block contenido  %}  

<div class="card">
    <div class="card-header">
        Listar Clientes
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id Cliente</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>RUC</th>
                    <th>DNI</th>
                    <th>Encargado</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Nro. Orden</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Walter</td>
                    <td>Hunter</td>
                    <td>2147483647</td>
                    <td>7418526</td>
                    <td>Christian</td>
                    <td>954762158</td>
                    <td>hola@gmail.com</td>
                    <td>1</td>
                    <td>Editar | Borrar </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>



{% endblock %}

    
