{% extends "base.html" %}

{% block titulo %}  Lista Elementos  {% endblock %}

{% block contenido  %}  

<div class="card">
    <div class="card-header">
        Listar Elementos
    </div>
    <div class="card-body">
        <h4 class="card-title">Elementos</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Antorcha</th>
                    <th>Porta Electrodo</th>
                    <th>Pinza Masa</th>
                    <th>Cable Acometida</th>
                    <th>Clavija</th>
                    <th>Regulador de Gas</th>
                    <th>Manguera de Gas</th>
                    <th>Pernos</th>
                    <th>Ridillos</th>
                    <th>Perillas</th>
                    <th>Asas</th>
                    <th>Base de Ruedas</th>
                    <th>Carrete</th>
                    <th>Consumibles</th>
                    <th>Chupón o Conductor</th>
                    <th>Otros</th>
                    <th>Acciones</th>
                    <th>Nro. Orden</th>
                    <th>Id Cliente</th>
                    <th>Id Soldadora</th>                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>True</td>
                    <td>True</td>
                    <td>True</td>
                    <td>False</td>
                    <td>True</td>
                    <td>False</td>
                    <td>True</td>
                    <td>False</td>
                    <td>False</td>
                    <td>False</td>
                    <td>False</td>
                    <td>False</td>
                    <td>False</td>
                    <td>True</td>
                    <td>False</td>
                    <td>True</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Editar | Borrar </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>



{% endblock %}

    
